.fea-cons{
    background-image: url("/images/yellow-concrete-textured-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding:40px;
    
}
.fea-con{
    padding-bottom: 20px;
    align-items: center;
}
.feature i{
   font-size: 30px;
   background-color: aliceblue;
   width:70px;
   height:70px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
} 
.feature i:hover{
    background-color: var(--crush);
    color:white;
}
.social{
    position:fixed;
    right:10px;
    top:200px;

}
.social div{
    width:50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom:5px;
    display:flex;
    align-items: center;
    justify-content: center;
    color:azure;
    font-size: 20px;
    
}
.social div:hover i{
    animation-name: social;  
    animation-duration: 1s;
    animation-iteration-count: infinite;   
}
@keyframes social { 
    100%{
        transform: rotate(360deg);
    }
}
.s-media1{
    background-image:var(--blueG);
}
.s-media2{
    background-image:var(--instaG);
}
.s-media3{
    background-image:var(--youG);
}
.s-media4{
    background-image:var(--whatG);
}

