/* Head BAnner  */

.navbar-brand img{
    transform: scale(0.6);
}

.head-banner .row{
    height: 80vh;
    position: relative;
}

 @media (max-width: 1270px) {
    .head-banner h2{
        font-size: 70px !important;
    }
 }

.box-right{
    background-image: url("/images/yellowgirl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.box-left{
    background-color: var(--ripple);
    background-size: cover;    
}

.intro-box{
    position: absolute;
    top: 25%;
    left: 10%;
}

.intro-box p{
    font-size: 35px;
    color: var(--crush);
}

.intro-box h2{
    font-weight: 700;
    font-size: 80px;
}

.intro-box a{
    font-weight: 500;
    margin-top: 30px;
}

/* End Banner */


/* Top Destination */

.top-dest{
    padding: 100px 100px;
}

.top-dest-item{
    height: 350px;
    max-width: 250px;
    border-radius: 200px;
    inset: 0;
    margin: auto;
}

.top-dest-item div{
    width: 100%;
    height: 100%;
    border-radius: 200px;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    position: relative;
}

.top-dest-item .item-1{
    background-image: url(/images/beach.jpeg);
}

.top-dest-item .item-2{
    background-image: url(/images/ooty.webp);
}

.top-dest-item .item-3{
    background-image: url(/images/esha.jpg);
    background-position: -150px;
}

.top-dest-item .item-4{
    background-image: url(/images/blackthunder.avif);
}

.top-dest-item .item-5{
    background-image: url(/images/mudumalai.webp);
    background-position: -120px;
}

.top-dest-item .item-6{
    background-image: url(/images/munnar.webp);
}

.top-dest-item div::before{
 transform: scale(0.07);
 position: absolute;
 bottom: -260px;
 z-index: 1;
}

.top-dest-item .item-1::before{
    content: url('/images/island.png');
}

.top-dest-item .item-2::before{
    content: url('/images/mountains.png');
}

.top-dest-item .item-3::before{
    content: url('/images/vishnu.png');
}

.top-dest-item .item-4::before{
    content: url('/images/chair-swing-ride.png');
}

.top-dest-item .item-5::before{
    content: url('/images/tiger.png');
}

.top-dest-item .item-6::before{
    content: url('/images/mountains.png');
}

.top-dest-item div::after{
    content: '';
    height: 100px;
    width: 100px;
    background-color: var(--ripple);
    border-radius: 50%;
    position: absolute;
    bottom: -15%;
    transition: all 0.3s ease;
}

.top-dest-item div:hover::after{
    background-color: var(--cyprus);
}

.top-dest-item div:hover{
    width: 90%;
    height: 90%;
}

.dest-cont {
    text-align: center;
    margin-top: 70px;
    font-weight: 500;
    font-size: 20px;
}

.dest-cont-mini{
    text-align: center;
    color: grey;
    font-weight: 400;
}

.dest-cont-mini span{
    color: var(--sea);
    font-weight: 600;
}

@media (max-width: 1100px){

    .top-dest-title{
        font-size: 45px !important;
        line-height: 55px !important;
    }

}
@media (max-width: 920px){

    .top-dest-title{
        font-size: 40px !important;
        line-height: 55px !important;
    }

}
/* End Top Destination  */

/* Go top */

.go-top-box{
    padding: 30px;
    position: fixed;
    bottom: 0;
    right: 0;
}

.go-top{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.go-top:hover{
    border: 2px solid var(--sea);
}

/* Go Top End */

/* Pkg Section */

.pkg-sec{
    padding: 100px 0;
}

.pkg-sec .row{
    justify-content: space-around;
    align-items: center;
}

.pkg-img{
    min-height: 283px;
    position: relative;
}

.pkg-img::after{
    content: "Know More";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 283px;
    width: 100%;
    border-radius: 20px;
    position: absolute;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    visibility: hidden;
}

.pkg-img:hover:after{
    visibility: visible;
}

.pkg-img img{
    border-radius: 20px;
    height: 283px;
}
.pkg-title{
    margin-top: 20px;
}
/* End Pkg Section */

/* Vehicle Section */

#home-slide{
    margin: 100px 0;
}
.slide img{
    width: 50%;
}
.slide-box{
    height:600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* End Vehicle Section */