.review-con{
    border-radius:20px;
    background-color: azure;
    color:black;
    padding:30px;
}
.review-img{
    border-radius: 70px;
    width:100px;
    height:100px;
    
}
.review{
    background-color: var(--sea);
    padding:50px;
}

.review-cursive{
    color: var(--cyprus);
}

.review-bold{
    color: #fff;
}

@media (max-width: 768px) {
    .review-con{
        text-align: center;
    }
    .review-img{
        margin-bottom: 15px;
    }
  }
